<% provide(:title, @user.name) %>
<!--<%= @user.name %>, <%= @user.email %>-->
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <%#= render :partial => 'shared/micropost_form' %>
     <%#= render 'shared/user_info' %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>

        <%#= render :partial => 'shared/micropost_form', :locals => {:micropost => @microposts} %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
